@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}


html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    box-shadow: none;
    outline: none;
}

a {
    color: #596D48;
    text-decoration: none;
}

input {
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.315);
    color: #383838;
}

label {
    color: #383838;
}

.main {
    display: flex;
    height: 100%;
}

.left {
    background-image: url(assets/background-Image.avif);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.banner {
    height: 100px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.logo-img-container {
    display: flex;


}

.button {
    display: flex;
    margin-top: 30px;
    background-color: #596D48;
    color: white;
    border: solid;
    border-radius: 8px;
    width: 150px;
    height: 35px;
    font-size: 14px;
    align-items: center;
    justify-content: center;

}

.button-subtext-container {
    display: flex;
}


.button-subtext {
    display: flex;
    align-items: center;
}

.log-in {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.logo-img {
    padding: 8px;
    height: auto;
    display: flex;
    width: auto
}

.logo-text {
    font-family: Norse-bold;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
}

.long-text {
    font-weight: bold;
    font-size: 18px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: #383838;
}

.short-text {
    font-weight: bold;
    font-size: 18px;
    padding-left: 50px;
    color: #383838;

}

.form-container {
    margin: 5%;
    background-color: white;
    background-size: cover;
    margin: 0;
}

.caption {
    margin-top: 10px;
    margin-left: 50px;
    color: #383838;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}


.form-row {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}