@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}


html,
body {
    margin: 0;
    height: 100%;
}

.main {
    display: flex;
    height: 100%;
}

.left {
    background-image: url(assets/background-Image.avif);
    background-size: cover;
    width: 100%;
    height: 130%;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    width: 100%;
    background-size: cover;
}

.banner {
    height: 100px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.logo-img-container {
    display: flex;


}



.button-container {
    display: flex;
    margin-left: 50px;
}

.button {
    display: flex;
    margin-top: 30px;
}

.button-subtext {
    display: flex;
    align-items: center;
}

.log-in {
    display: flex;
    align-items: center;
}

.logo-img {
    padding: 8px;
    height: auto;
    display: flex;
    width: auto
}

.logo-text {
    font-family: Norse-bold;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
}

.long-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.short-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 50px;
}

.form-container {
    margin: 5%;
    background-color: white;
    background-size: cover;
    margin: 0;
}

.caption {
    margin: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}


.form-row {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}